<div class="main-content">
    <div class="container-fluid">
        <!--***************** ng smart table ***************** -->
        <div class="row">
            <div class="card">
                <div class="card-content  table-responsive">
                Records Count : {{dataSource.length}}
                    <ng2-smart-table [settings]="settings" [source]="dataSource"></ng2-smart-table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!-- <div class="card-header" data-background-color="purple">
                        <h4 class="title">Simple Table</h4>
                        <span class="category">Here is a subtitle for this table</span>
                        <button class="btn btn-sm btn-info" >+Add</button>
                        <button class="btn btn-sm btn-info"  [disabled]="!selectedHero">~Edit</button>
                        <button class="btn btn-sm btn-danger" [disabled]="!selectedHero">-Delete</button> 
                    </div> -->
                    <div class="card-content table-responsive">

                    <div class="pull-right">
                            
                            <button class="btn btn-sm btn-info" >+Add</button>
                        <button class="btn btn-sm btn-info"  [disabled]="!selectedHero">~Edit</button>
                        <button class="btn btn-sm btn-danger" [disabled]="!selectedHero">-Delete</button> 

                    </div>
                   <span *ngIf="selectedHero">Selected Record = {{selectedHero.name}}</span> 
                        <table class="table table-hover table-condensed table-bordered">
                            <thead class="text-danger">
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr *ngFor="let x of [1,2,3]; let i = index" 
                                    (click)="setClickedRow(i)" 
                                     [ngClass] = "{activeRow: i == selectedRowIndex}">
                                    <td>{{x}}</td>
                                    <td>{{x}}</td>
                                </tr>   -->
                                    <!-- [class.activeRow]="i == selectedRowIndex"> -->

                                <tr *ngFor="let hero of heroes; let i = index" 
                                    (click)="setClickedRow(hero,i)"  
                                    class='cursor-pointer'
                                     [ngClass] = "{'activeRow': i == selectedRowIndex}"
                                >
                                    <td>{{hero.id}}</td>
                                    <td>{{hero.name}}</td>
                                </tr>                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Table on Plain Background</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Salary</th>
                                    <th>Country</th>
                                    <th>City</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Dakota Rice</td>
                                    <td>$36,738</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Minerva Hooper</td>
                                    <td>$23,789</td>
                                    <td>Curaçao</td>
                                    <td>Sinaai-Waas</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sage Rodriguez</td>
                                    <td>$56,142</td>
                                    <td>Netherlands</td>
                                    <td>Baileux</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Philip Chaney</td>
                                    <td>$38,735</td>
                                    <td>Korea, South</td>
                                    <td>Overland Park</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Doris Greene</td>
                                    <td>$63,542</td>
                                    <td>Malawi</td>
                                    <td>Feldkirchen in Kärnten</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Mason Porter</td>
                                    <td>$78,615</td>
                                    <td>Chile</td>
                                    <td>Gloucester</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
